* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  .top {
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .items {
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        width: 200px;
        color: #ffffff;
        font: 16px;
        font-weight: bold;
      }
      &__icons {
        width: 60px;
        text-align: end;
        &__btn {
          color: #ffffff;
        }
        &__btn--edit {
          margin-right: 5px;
        }
      }
    }
  }
  .group-lists {
    height: calc( 100vh - 100px );
    background-color: #2f3e51;
    .group {
      padding: 20px 20px 40px;
      color: #ffffff;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc( 100vw - 300px );
  .info {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .leftbox {
      background-color: red;
      .current-group {
        padding-top: 35px;
        &__name {
          font-size: 20px;
          color: #333333;
        }
        &__member-list {
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .rightbox {
      background-color: yellow;
    }
  }
  .main {
    height: calc( 100vh - 190px );
    background-color: #fafafa;
  }
  .form {
    height: 90px;
    background-color: #d2d2d2;
  }
}